body {
    margin: 0;
    padding: 0; 
    width: 1366px; /* Ширина страницы */
    height: 1485px; /* Высота страницы */
    margin: 0 auto; 
}

header, main, footer {
    display: none; 
}

.readers {
    background-color: #5D5FEF;
    height: 742.5px;
    padding: 60px 113px 112.5px 113px;
    position: relative;
    display: flex;
}

.photoLW {
    position: absolute; /* Абсолютное позиционирование для точного размещения */
    top: 60px; /* Отступ сверху */
    left: 113px; /* Отступ слева */
    width: 555px; /* Ширина фотографии */
    height: 570px; /* Высота фотографии */
    border-radius: 10px; /* Закругление границ */
}

.photoRW {
    position: absolute; /* Абсолютное позиционирование для точного размещения */
    top: 60px; /* Отступ сверху */
    left: 698px; /* Отступ слева */
    width: 555px; /* Ширина фотографии */
    height: 370px; /* Высота фотографии */
    border-radius: 10px; /* Закругление границ */
}

.rectangle {
    position: absolute;
    width: 263px;
    height: 170px;
    background-color: white;
    border-radius: 10px;
}

.rectangle1 {
    top: 460px;
    left: 698px;
}

.rectangle2 {
    top: 460px;
    left: 990px;
}

.footer {    
    height: 742.5px;
    background-color: #cecece;
}